@model MyWebStore.Models.EmployeeViewModel
@{
    ViewData["Title"] = "Редактирование карточки сотрудника";
}


		<h2>@ViewData["Title"]</h2>
		<hr/>

		<div class="row">
			<div class="col-md-4">
				@using (Html.BeginForm(FormMethod.Post))
				{
					<div class="form-group">
						@Html.EditorForModel()
						<input type="submit" value="Сохранить" class="btn btn-default"/>
					</div>
				}
			</div>
		</div>
		<hr/>
		@Html.ActionLink("Назад","Index","Employees",null,new { @class = "btn btn-default"})

